<div class="container text-center">
    <div><%= image_tag "icon_star@2x.png" %></div>
    <div class="home-workbit-text"><%= image_tag "icon_workbit.png" %></div>
    <div class="home-description-text"><%= t('index.description') %></div>
    <div class="home-btn"><button type="button" class="btn home-btn-text"><%= t('index.buttonText') %></button></div>
    <div class="home-blogs-padding">
        <%= render 'partisl/blogs' %>
    </div>
</div>