<div>
    <div class="row justify-content-between">
    <div class="col-3 text-left">
        <div class="blog-icon-padding"><%= image_tag "icon_mail.png" %></div>
        <p class="blog-p-text"><%= t('partisl.blog1.title') %></p>
        <label class="blog-label-text"><%= t('partisl.blog1.body') %></label>
    </div>

    <div class="col-3 text-left">
        <div class="blog-icon-padding"><%= image_tag "icon_cloud.png" %></div>
        <p class="blog-p-text"><%= t('partisl.blog2.title') %></p>
        <label class="blog-label-text"><%= t('partisl.blog2.body') %></label>
    </div>

    <div class="col-3 text-left">
        <div class="blog-icon-padding"><%= image_tag "icon_check.png" %></div>
        <p class="blog-p-text"><%= t('partisl.blog3.title') %></p>
        <label class="blog-label-text"><%= t('partisl.blog3.body') %></label>
    </div>
    </div>
</div>