<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'partisl/nav' %>
      <main>
          <%= yield %>
      </main>      
      <%= render 'partisl/footer' %>
    </div>
  </div>
</body>
</html>