<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row justify-content-center">
  <div class="col-10">
    <nav class="navbar navbar-inverse navbar-fixed-top pl-0 pr-0 container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          <div class="about-header" <%= 'hidden' if current_page?(root_url) %>>
              <%= image_tag "icon_star.png" %>
              <label class="nav-workbit-text m-1"><%= image_tag "icon_workbit_1.png" %></label>
          </div>
          </a>
        </div>
        <ul class="nav navbar-nav nav-ul">
          <li class="active nav-li"><%= link_to 'Login', root_path, class: "nav-item-text" %></li>
          <li class="nav-li"><%= link_to 'About', about_path, class: "nav-item-text" %></li>
        </ul>
      </div>
    </nav>
    <main>
      
        <%= yield %>
      
    </main>
    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        Copyright © 2020 Workbit. All Rights Reserved
      </div>
    </footer>
    </div>
  </div>
</body>
</html>